# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Fundamentals.iml
# Datasource local storage ignored files
/../../../../../../:\Code\Fundamentals\.idea\.idea.Fundamentals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
